.preview {
  &__container {
    display: grid;
    align-items: center;
    justify-items: center;
    img {
      height: 150px;
      width: 150px;
    }
    h3 {
      line-height: 3rem;
      margin: 0;
    }
    p {
      justify-self: start;
    }
  }
}
