.preview {
  margin: 5px;
  img {
    height: 180px;
    width: 320px;
    border-radius: 12px;
  }

  &__container {
    display: inline-flex;
    justify-content: space-between;
    width: 315px;
    align-items: center;
    h6 {
      height: fit-content;
      vertical-align: middle;
      margin: 10px 0;
    }
    p {
      justify-self: start;
    }
  }

  &__favorites {
    mat-icon {
      font-variation-settings: "FILL" 1;
    }
  }
}
