.header {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 30px;

  &__sidebar {
    ul {
      padding: 0px;
      li {
        margin: 10px 0;
        a {
          text-decoration: none;
          color: blue;
          .icon {
            display: inline-block;
            width: 23px;
            padding-right: 3px;
            
          }
        }

        a:hover{
          color:darkblue;
          
        }
      }

      list-style: none;
    }
  }

  &__user {
    margin-top: 5px;
    display: flex;
    align-items: end;
  }

  &__upload {
    padding-right: 20px;
  }

  &__search-bar {
    width: 800px;
    display: inline-flex;
    .search-control {
      flex: 1;
      font-size: 1rem;
      border: 0;
      outline: none;
      padding-left: 10px;
    }
  }

  &__upload-button {
    width: 45px !important;
    min-width: unset !important;
    i {
      color: black;
    }
  }
}
