<div class="header">
  <div class="header__sidebar">
    <div class="logo">
      <!-- logo needs to be 402 by  114 px -->
      <img src="assets\Logo\logo_ver2.webp" alt="logo" />
    </div>

    <div class="d-flex text-center flex-wrap">
      <ul>
        <li>
          <a [routerLink]="['/Home']" routerLinkActive="active">
            <div class="icon"><i class="fa-solid fa-house"></i></div>
            Home</a
          >
        </li>
        <li>
          <a [routerLink]="['/Channel']"
            ><div class="icon"><i class="fa-solid fa-user"></i></div>
            Channel</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="header__search-bar-container">
    <mat-form-field class="header__search-bar">
      <mat-label>Search</mat-label>
      <input matInput type="text" [(ngModel)]="value" />
      @if (value) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="search()">
        <mat-icon>search</mat-icon>
      </button>
      }
    </mat-form-field>
  </div>

  <div class="header__user">
    <div class="header__upload" *ngIf="isLoggedIn">
      <button mat-raised-button class="header__upload-button">
        <i class="fa-solid fa-arrow-up-from-bracket"></i>
      </button>
    </div>
    <div class="header__user-login" *ngIf="!isLoggedIn">
      <button mat-raised-button (click)="redirectToLogin()">Login</button>
    </div>
    <div class="header__user-logout" *ngIf="isLoggedIn">
      <button mat-raised-button (click)="logOut()">LogOut</button>
    </div>
  </div>
</div>
