.metadatas-container {
  position: relative;
  &__grid {
    position: relative;
    align-items: center;
    justify-content: center;
    left: 300px;
    top: -220px;
    max-width: 1350px;
  }
  &__cell {
    //border: 1px black solid;
  }
}
